.info {
  display: flex;
  padding: 40px;
  flex-direction: row;
  justify-content: space-around;
}
.infoCard {
  align-items: center;
  background-color: rgb(161, 160, 160);
  color: rgba($color: #383838, $alpha: 1);
  border-radius: 3px;
  font-size: 24px;
  height: 150px;
  width: 400px;
  padding: 10px;
  margin: 10px;
}
.infoDetails {
  color: rgba($color: #383838, $alpha: 1);
  font-size: 24px;
  justify-content: flex-end;
}
.portfolioHeader {
  color: white;

  align-items: center;
  opacity: 1;
  text-shadow: 5px 5px rgba(98, 94, 94, 0.85);
}
