.portfolio {
  color: rgb(255, 255, 255);
  outline: white;
  border: white 5px;
}
.modal-bg {
  display: flex;
  //   position: fixed;
  //   width: 100%;
  //   height: 100vh;
  //   top: 0;
  //   left: 0;
  //   background-color: rgba(0, 0, 0, 0.5);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   visibility: hidden;
  //   opacity: 0;
  //   transition: visibility 0s, opacity 0.5s;
}

// .bg-active {
//   visibility: visible;
//   opacity: 1;
// }

.modal {
  position: relative;
  font-family: "Monsterrat", sans-serif;
  background: rgb(155, 38, 38);
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transform: scale(0.5);
  border-radius: 8px;
}
.modal-btn {
  padding: 10px 30px;
  background-color: lightcoral;
  color: white;
  border: none;
  font-family: "Monsterrat", sans-serif;
  cursor: pointer; //check our other pointers
  border-radius: 10px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.portfolioText {
  background-color: rgba(146, 143, 143, 0.7);
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
