.portfolio {
  background-color: ivory;
  color: rgb(224, 38, 50);
}
.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.modal {
  font-family: "Monsterrat", sans-serif;
  background: white;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.modal-btn {
  padding: 10px 30px;
  background-color: lightcoral;
  color: white;
  border: none;
  font-family: "Monsterrat", sans-serif;
  cursor: pointer; //check our other pointers
}
