.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0 0 30px;
  overflow: hidden;
  background-color: rgb(53, 53, 54, 0.8);
  padding: 10px;
  width: 100%;
  align-items: flex-end;
  cursor: pointer;
  position: sticky;
}

.nav a {
  text-decoration: none;
  font-size: 30px;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: chocolate;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}
